

body{background-color:turquoise;}
/*start of the container selector*/
#container{
    width:960px;
    height:960;
    color:black;
    margin:0 auto;}

 #name{color:#00FFFF;}

 .subheader{color:#00FFFF;}


.mig {float:left;
     border:2px #00FFFF solid;
    margin-right:20px;} 

   /*elements with no class*/

 hr{
     border:solid #00FFFF ;
     height:3px;
     width:100%;
     background-color:#00FFFF;
 }

 p{padding:5px;
   line-height:32px;}

ul{list-style-type:none;}

 li{display:inline;
    padding:5px;
    margin-right:5px;
    width:100px;
    margin-left:5px;
    background-color:white;
    float:right;
    text-align:center;
    border-radius:40px;}

 a{text-decoration:none;
  background-color:white;}

  a:hover{background-color:blue;
         width:100%;}

 button{border:none;
    background-color:white;}

 progress{display:block;
          margin:7px;}
 /*elements end of class*/

 #skill{text-align:center;
        text-decoration:underline;
     color:#00FFFF;
     }
 #section{text-overflow: auto;
        }

 #footer{margin:20px;}